.parent {
 background: purple;
 height: 400vh;
 padding: 1em;
 color: white;
 transform: translateX(0);


 
}

.child-one {
     background: rgb(11, 0, 128);
     height: 120px;
     position: fixed;
     top: 0;
     left: 0;
    
    
}

.child-two {
     background: rgb(0, 128, 11);
     height: 120px;
     

}

.child-three {
   background: rgb(128, 117, 0);
   height: 120px;    

}